section.about
	.about__container
		.about__info
			p.about__suptitle.page-suptitle О нас
			h2.about__title.page-title Компания 
				span ИвановПром 
			.about__text Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не&nbsp;только успешно пережил без заметных изменений пять веков, но&nbsp;и&nbsp;перешагнул в&nbsp;электронный дизайн.
		
		.about__block
			.about__column
				.about__item.item-about
					h3.item-about__title 90
					p.item-about__text Завершено крупных сделок
					a.item-about__link(href="#" target="_blank") Все кейсы
				
			
			.about__column
				.about__item.item-about
					h3.item-about__title 90
					p.item-about__text Завершено крупных сделок
					a.item-about__link(href="#" target="_blank") Все кейсы
				
			
			.about__column
				.about__item.item-about
					h3.item-about__title 90
					p.item-about__text Завершено крупных сделок
					a.item-about__link(href="#" target="_blank") Все кейсы
				
			
			.about__column
				.about__item.item-about
					h3.item-about__title 90
					p.item-about__text Завершено крупных сделок
					a.item-about__link(href="#" target="_blank") Все кейсы
				
			
		