section.clients#clients
	.clients__container
		p.clients__suptitle.page-suptitle Наши клиенты
		h2.clients__title.page-title С&nbsp;нами работают
		.clients__slider.slider-clients.swiper
			.slider-clients__body.swiper-wrapper
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
				.slider-clients__slide.swiper-slide
					img.clients__img(src="./img/Clients/clients-img.png" alt="Clients name - Microsoft")
				
			.slider-clients__pagination.swiper-pagination
			.slider-clients__control
				.slider-clients__btn.swiper__btn_prev._icon-l-arrow
				.slider-clients__btn.swiper__btn_next._icon-r-arrow
