section.intro(style="background-image: url(../img/Intro/intro-bg.jpg);")
	.intro__container
		.intro__slider.slider-intro.swiper
			.slider-intro__body.swiper-wrapper
				.slider-intro__slide.swiper-slide
					h1.slider-intro__title Бухгалтерские услуги в&nbsp;Санкт-Петербурге
					a.slider-intro__link.page-link(href="#") Наша презентация
				.slider-intro__slide.swiper-slide
					h1.slider-intro__title Бухгалтерские услуги в&nbsp;Санкт-Петербурге
					a.slider-intro__link.page-link(href="#") Наша презентация
				.slider-intro__slide.swiper-slide
					h1.slider-intro__title Бухгалтерские услуги в&nbsp;Санкт-Петербурге
					a.slider-intro__link.page-link(href="#") Наша презентация
				.slider-intro__slide.swiper-slide
					h1.slider-intro__title Бухгалтерские услуги в&nbsp;Санкт-Петербурге
					a.slider-intro__link.page-link(href="#") Наша презентация
			.slider-intro__pagination.swiper-pagination
			.slider-intro__control
				.slider-intro__btn.swiper__btn_prev._icon-l-arrow
				.slider-intro__btn.swiper__btn_next._icon-r-arrow