section.reviews#reviews
	.reviews__container
		p.reviews__suptitle.page-suptitle Отзывы
		h2.reviews__title.page-title Ваши благодарности
		.reviws__slider.slider-reviews.swiper
			.slider-reviews__body.swiper-wrapper
				.slider-reviews__slide.swiper-slide
					p.slider-reviews__text Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне.
					.slider-reviews__author
						img.slider-reviews__photo(src="./img/Reviews/author-img.jpg" alt="Author photo")
						.slider-reviews__info
							p.slider-reviews__name Екатерина Иванова
							p.slider-reviews__prof Директор ООО &laquo;Раз-два&raquo;
				.slider-reviews__slide.swiper-slide
					p.slider-reviews__text Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне.
					.slider-reviews__author
						img.slider-reviews__photo(src="./img/Reviews/author-img.jpg" alt="Author photo")
						.slider-reviews__info
							p.slider-reviews__name Екатерина Иванова
							p.slider-reviews__prof Директор ООО &laquo;Раз-два&raquo;
				.slider-reviews__slide.swiper-slide
					p.slider-reviews__text Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне.
					.slider-reviews__author
						img.slider-reviews__photo(src="./img/Reviews/author-img.jpg" alt="Author photo")
						.slider-reviews__info
							p.slider-reviews__name Екатерина Иванова
							p.slider-reviews__prof Директор ООО &laquo;Раз-два&raquo;
				.slider-reviews__slide.swiper-slide
					p.slider-reviews__text Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum&nbsp;&mdash; это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати и&nbsp;вэб-дизайне.
					.slider-reviews__author
						img.slider-reviews__photo(src="./img/Reviews/author-img.jpg" alt="Author photo")
						.slider-reviews__info
							p.slider-reviews__name Екатерина Иванова
							p.slider-reviews__prof Директор ООО &laquo;Раз-два&raquo;
			.slider-reviews__pagination.swiper-pagination
			.slider-intro__control
				.slider-reviews__btn.swiper__btn_prev._icon-l-arrow
				.slider-reviews__btn.swiper__btn_next._icon-r-arrow