section.services
	.services__container
		p.services__suptitle.page-suptitle Наши услуги
		h2.services__title.page-title Мы&nbsp;специализируемся
		.services__body
			.services__column
				.services__item
					.services__img
						img(src="./img/Services/services-img.jpg" alt="")
					a.services__link(href="./" target="_blank") Бухгалтерское обслуживание
			.services__column
				.services__item
					.services__img
						img(src="./img/Services/services-img.jpg" alt="")
					a.services__link(href="./" target="_blank") Бухгалтерское обслуживание
			.services__column
				.services__item
					.services__img
						img(src="./img/Services/services-img.jpg" alt="")
					a.services__link(href="#" target="_blank") Бухгалтерское обслуживание
			.services__column
				.services__item
					.services__img
						img(src="./img/Services/services-img.jpg" alt="")
					a.services__link(href="#" target="_blank") Бухгалтерское обслуживание
			.services__column
				.services__item
					.services__img
						img(src="./img/Services/services-img.jpg" alt="")
					a.services__link(href="#" target="_blank") Бухгалтерское обслуживание
			.services__column
				.services__item
					.services__img
						img(src="./img/Services/services-img.jpg" alt="")
					a.services__link(href="#" target="_blank") Бухгалтерское обслуживание