$fontSize: 14;
$fontPrimary: "Lato", sans-serif;
$fontSecondary: "Merrieweather", serif;

//========================================================================================================================================================

$blue: #005fa3;
$dark-primary: #222;
$black: #000;
$white: #fff;
$green: #198754;
$red: #dc3545;
$bgbody: #f9f9f9;
$bgsection: #ebebeb;
$grey: #c4c4c4;

//========================================================================================================================================================